@charset "UTF-8";

table-txt-t1   {
    color: #4A90E2;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
tbody tr td {
}
.table-txt-t1 {
}
